---
import type { PaginateFunction, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'
import { getEntry } from 'astro:content'
import { Image } from 'astro:assets'
import { PAGE_SIZE, getPosts } from '../../../config'
import Base from '../../../layouts/base.astro'
import PageHero from '../../../components/pagehero.astro'
import BlogRoll from '../../../components/blogroll.astro'
import PaginateControl from '../../../components/paginatecontrol.astro'
import coverSVG from '../../../assets/svg/undraw/undraw_short_bio.svg'
import socialImage from '../../../assets/undraw/undraw_short_bio.png'

export interface Props {
  page: Page<CollectionEntry<'blog'>>
}

// Astro parameters and properties
const { author } = Astro.params
const { page } = Astro.props

// Fetch specific author details (hardcoded to "dejuan-jones")
const detail = await getEntry('author', 'dejuan-jones')

const frontmatter: CollectionEntry<'page'>['data'] = {
  title:
    'Author: ' +
    detail!.data.title +
    (page.size < page.total ? ' (page ' + page.currentPage + ' of ' + page.lastPage + ')' : ''),
  description:
    detail!.data.description +
    '. ' +
    'Showing articles ' +
    (page.start + 1) +
    '-' +
    (page.end + 1) +
    ' (total ' +
    page.total +
    ')',
  coverSVG: coverSVG,
  socialImage: socialImage
}

const currentPage = Astro.url.pathname.replace(/(\/\d*)?\/$/, '')

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const posts = await getPosts()

  // Set the author slug to "dejuan-jones"
  const authorSlug = "dejuan-jones"

  // Filter posts for the specific author
  const filteredPosts = posts.filter((post) => post.data.author?.slug === authorSlug)

  // Generate paginated paths for the author
  return paginate(filteredPosts, {
    params: { author: authorSlug },
    pageSize: PAGE_SIZE,
  })
}
---

<Base frontmatter={frontmatter} schema='CollectionPage'>
  <header>
    <PageHero
      title={frontmatter.title}
      description={frontmatter.description}
      coverSVG={frontmatter.coverSVG}
      socialImage={frontmatter.socialImage}
    >
      <Image
        src={detail!.data.image}
        alt={detail!.data.title}
        class='mt-4 h-32 w-32 rounded-full object-cover object-center'
      />
      <PaginateControl base={currentPage} page={page} />
    </PageHero>
  </header>
  <main class='mt-10 bg-gray-100 dark:bg-gray-900'>
    <BlogRoll posts={page.data} />
  </main>
</Base>
